<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
</head>
<body>
  <header>
    <h1>Javi's Blog</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        {{#if logged_in}}
        <li><a href="/">Log out</a></li>
        {{else}}
        <li><a href="/login">Log in</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>

  {{{body}}}

  <footer></footer>
</body>
</html>