<div>
  <h2>Sign in to your account</h2>

  <form>
    <label for="username">Enter your username:</label>
    <input type="username" name="username" id="login-username">
    <label for="password">Enter your password:</label>
    <input type="password" name="password" id="login-password">
  </form>
  <p>New to the blog? <a href="/signup">Sign up here!</a></p>
</div>