<div>
  <h2>Edit Post</h2>
  <form>
    <label for="Title">Title</label>
    <input type="text" name="Title" id="post-title" placeholder={{title}}>
    <label for="Content">Content</label>
    <input type="text" name="Content" id="post-content" placeholder={{content}}>
  </form>
</div>