<div>
  <div>
    <div>
      <h2>{{singlePost.title}}</h2>
      <span>Posted by {{singlePost.user.username}} on {{displayDate singlePost.postDate}}</span>
    </div>
    <p>{{singlePost.content}}</p>
  </div>
  <div>
    <form id="comment-form">
      <label for="Comment">Comment</label>
      <input type="text" name="Comment" id="comment-body">
      <button type="submit">Submit</button>
    </form>
  </div>
  {{#if postComments}}
  {{#each postComments}}
  {{> comment}}
  {{/each}}
  {{/if}}
</div>

<script src="/js/comment.js"></script>