<div>
  <h2>Create Post</h2>
  <form id="post-form">
    <label for="Title">Title:</label>
    <input type="text" name="Title" id="post-title">
    <label for="Content">Content:</label>
    <input type="text" name="Content" id="post-body">
    <button type="submit">Create post</button>
  </form>
</div>

<script src="/js/post.js"></script>